/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Nunito&display=swap');

/* Your existing styles */
:root{
    --primary-font: "Alegreya", serif;
    --secondary-font: "Nunito", sans-serif;
    /* Orange Shade #ff8400 = hsl(31, 100%, 50%)*/
    --primary-color: hsl(31, 100%, 50%);
    --secondary-color: white;
    --primary-color-light: hsl(31, 100%, 75%);
}

body{
    font-family: var(--secondary-font);
}

h1{
    font-family: var(--primary-font);
}

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-outline-orange{
    border: 2px solid var(--primary-color);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin: 5px
}

.btn-outline-orange:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* results-area */

#results-area{
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 10px;
    padding: 20px;
}

#results-area p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}